{{ define "main" }}
  {{ partial "page-header" . }}

  <!-- Display the content from _index.md at the top of the section -->
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="md:col-10 lg:col-12 mx-auto">
          {{ with .Site.GetPage "/events" }}
            <div class="prose lg:prose-xl font-normal leading-none text-gray-900 dark:text-white">
              {{ .Content }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>

  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="md:col-10 lg:col-6 mx-auto">
          <!-- Get a list of the events sorted by 'startDate' -->
          {{ $events := .Site.GetPage "/events" }}
          {{ $sortedEvents := ($events.RegularPages.ByParam "startDate").Reverse }}

          <ol class="relative border-s border-gray-200 dark:border-gray-700">
            <!-- Loop over the sortedEvents list and display the information -->
            {{ range $sortedEvents }}
              <!-- Event entries -->
              <li class="mb-10 ms-6">
                <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                  <!-- FontAwesome icon -->
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
                <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">{{ .Title }}</h3>

                {{ if .Params.startDate }}
                  <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                    {{ if or (not .Params.endDate) (eq .Params.startDate .Params.endDate) }}
                      On {{ dateFormat "January 2, 2006" .Params.startDate }}
                    {{ else }}
                      From {{ dateFormat "January 2, 2006" .Params.startDate }} to {{ dateFormat "January 2, 2006" .Params.endDate }}
                    {{ end }}
                  </time>
                {{ end }}
                <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">{{ .Description }}</p>
                {{ if .Params.eventURL }}
                  <a href="{{ .Params.eventURL }}" target="_blank" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">
                    Go to the Event site <i class="fa-solid fa-arrow-up-right-from-square ml-2"></i>
                  </a>
                {{ end }}
              </li>
            {{ end }}
          </ol>

        </div>
      </div>
    </div>
  </section>

{{ end }}